.activities-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.activities-table td {
  border: 1px solid black;
}

.add-hour-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-hour-form {
  display: none;
}

.rendered_hours {
  //display: none;
}

.rendered_days {
  //display: none;
}
