.activities-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.activities-table td, th {
  border: 1px solid black;
}

.activities-table th {
  text-align: center;
}

.full-width {
  width: 100%;
}

.past-activity {
  opacity: 0.5;
}

.activity-cell {
  display: block;
}
