<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> Activities </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="activities-table">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Start</th>
          <th>End</th>
          <th>Responsible</th>
          <th>Alarms</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <%= render @activities %>
      </table>
    </div>
  </div>
  <%= render "form", activity: @activity, action: "create", responsibles: @responsibles %>
</div>
